<div class="d-flex justify-content-center">
    <form id="loginForm" class="col-md-3" >
        <h1>Login</h1>
        <br/>
        <div class="form-outline mb-4">
            <input type="email" name="email" class="form-control" />
            <label class="form-label" for="email">E-mail</label>
        </div>

        <div class="form-outline mb-4">
            <input type="password" name="password" class="form-control" />
            <label class="form-label" for="password">Contraseña</label>
        </div>

        <button type="submit" class="btn btn-primary btn-block mb-4">Ingresar</button>
        <div class="form-outline mb-4">
            <p>No estas registrado ? <a href="/register">Regístrate aquí</a></p>
        </div>
    </form>
    
</div>

<script src="/js/login.js"></script>