
<div class="d-flex justify-content-center">

    <form id="resetForm" class="col-md-3" >
        {{#if this.error}}
        <div class="alert alert-danger" role="alert">
            No existe el email ingresado.
        </div>
        {{/if}}
        <h1>Restáurar Contraseña</h1>
        <br/>
        <div class="form-outline mb-4">
            <input type="email" name="email" class="form-control" />
            <label class="form-label" for="email">E-mail</label>
        </div>
        <button type="submit" class="btn btn-primary btn-block mb-4">Enviar</button>
    </form>

</div>
<div class="row justify-content-center">
    <div class="col-md-3">
        <a href="/login"><button class="btn btn-primary btn-block mb-4">Volver</button></a>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/resetPassword.js"></script>