
<div class="d-flex justify-content-center">

    <form id="setForm" class="col-md-3" >
        {{#if this.error}}
        <div class="alert alert-danger" role="alert">
            No existe el email ingresado.
        </div>
        {{/if}}
        <h1>Nuevas Credenciales</h1>
        <br/>
        <div class="form-outline mb-4">
            <input type="femail" name="femail" class="form-control" value="{{email}}" readonly/>
            <label class="form-label" for="email">E-mail</label>
        </div>

        <div class="form-outline mb-4">
            <input type="password" name="password" class="form-control" />
            <label class="form-label" for="password">Contraseña</label>
        </div>

        <input type="hidden" name="email" value="{{email}}"/>
        <button type="submit" class="btn btn-primary btn-block mb-4">Reset</button>
    </form>
</div>
<div class="row justify-content-center">
    <div class="col-md-3">
        <a href="/views/login"><button class="btn btn-primary btn-block mb-4">Volver</button></a>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/setPassword.js"></script>
<script src="/js/utils.js"></script>
